<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duvida Zero</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="images 2.png">

</head>
<body>
    <header class="black-header">
        <nav>
            <div class="logo">
                <a href="/home">Dúvida Zero</a>
            </div>
            <div class="page-links">
                <li><a href="/professores">Professores</a></li>
                <li><a href="/materias">Matérias</a></li>
                <li><a href="/alunos">Alunos</a></li>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="banner">
            <img src="images 2.png" alt="Banner">
        </div>
        <div class="busca">
        <h2>Alunos</h2>
        </div>
    </div>
        
    <div class="formularios">
        <h1>Buscar</h1>
        <form action="http://localhost:8080/alunos/buscar" method="GET">
            <div class="infos">
                <input type="text" name="cpf" placeholder="CPF">
            </div>
            <div>
                <input type="submit" value="Buscar">
            </div>
        </form>



        <h1>Adicionar</h1>
        <form action="http://localhost:8080/alunos/adicionar" method="GET">
            <div class="infos">
                <input type="text" name="cpf" placeholder="CPF" required>

                <input type="text" name="nome" placeholder="Nome do Aluno" required>

                <input type="text" name="contato" placeholder="Contato" required>

            {! <div class="infos"></div>
                <input type="text" name="codigo_turma" placeholder="Código da Turma">

                <input type="text" name="grupo" placeholder="Grupo">
            
                <input type="text" name="vestibular" placeholder="VESTIBULARES DESEJADOS">

            </div>

            <div class="infos">
                <input type="text" name="nome_responsavel" placeholder="NOME DO RESPONSÁVEL">
                <input type="text" name="contato_responsavel" placeholder="CONTATO DO RESPONSÁVEL">
                <input type="text" name="cpf_responsavel" placeholder="CPF DO RESPONSÁVEL">
            </div>

            <div class="infos">
                <input type="text" name="colegio" placeholder="Colégio">

                <input type="text" name="ano_escolar" placeholder="Série">
            </div>
         !}
            <div>
                <input type="submit" value="Adicionar">
            </div>
        </form>

        <h1>Editar</h1>

        <form action="http://localhost:8080/alunos/editar" method="GET">
            <div class="infos">

                <input type="text" name="cpf" placeholder="CPF">

            </div>

            <div class="infos">

                <input type="text" name="nome" placeholder="Nome do Aluno" required>

                <input type="text" name="contato" placeholder="Contato" required>

            {! <div class="infos"></div>
                <input type="text" name="codigo_turma" placeholder="Código da Turma">

                <input type="text" name="grupo" placeholder="Grupo">
            
                <input type="text" name="vestibular" placeholder="Vestibulares Desejados">

            </div>

            <div class="infos">
                <input type="text" name="nome_responsavel" placeholder="Nome do Responsável">
                <input type="text" name="contato_responsavel" placeholder="Contato do Responsável">
                <input type="text" name="cpf_responsavel" placeholder="CPF do Responsável">
            

            <div class="infos">
                <input type="text" name="colegio" placeholder="Colégio">

                <input type="text" name="ano_escolar" placeholder="Série">
            </div>
            </div> !}
            <div>
                <input type="submit" value="Atualizar">
            </div>
        </form>

        <h1>Deletar</h1>

        <form action="http://localhost:8080/alunos/delete" method="GET">
            <div class="infos">
                <input type="text" name="cpf" placeholder="CPF">
            </div>
            <div>
                <input type="submit" value="Deletar">
            </div>
        </form>
    </div>
</body>
</html>