<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duvida Zero</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="images 2.png">

</head>
<body>
    <header class="black-header">
        <nav>
            <div class="logo">
                <a href="/home">Dúvida Zero</a>
            </div>
            <div class="page-links">
                <li><a href="/professores">Professores</a></li>
                <li><a href="/materias">Matérias</a></li>
                <li><a href="/alunos">Alunos</a></li>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="banner">
            <img src="images 2.png" alt="Banner">
        </div>
        <div class="busca">
        <h2>Aulas</h2>
        </div>
    </div>

    <div class="formularios">
        <h1>Buscar</h1>
        <form action="http://localhost:8080/materias/buscar" method="GET">
            <div class="infos">
                <input type="text" name="codigoA" placeholder="Código da Aula" required>
            </div>
            <div>
                <input type="submit" value="Buscar">
            </div>
        </form>



        <h1>Adicionar</h1>
        <form action="http://localhost:8080/materias/adicionar" method="GET">
            <div class="infos">
                <input type="text" name="codigoA" placeholder="Código da Aula" required>
                <input type="text" name="cronograma" placeholder="Cronograma" required>
                <input type="text" name="horario" placeholder="Horário" required>

            </div>
            {! <div class="infos">
                
                <input type="text" id="materia" name="materia" placeholder="Matéria" >
                <input type="text" id="apostilas" name="apostilas" placeholder="Apostilas" >
                <input type="text" id="questoes" name="questoes" placeholder="Questões" >
            </div> !}
        
            <div>
                <input type="submit" value="Adicionar">
            </div>
        </form>

        <h1>Editar</h1>

        <form action="http://localhost:8080/materias/editar" method="GET">

            <div class="infos">
                <input type="text" name="codigoA" placeholder="Código da Aula" required>

            </div>

            <div class="infos">
                <input type="text" name="cronograma" placeholder="Cronograma" required>
                <input type="text" name="horario" placeholder="Horário" required>

            {! </div>
            <div class="infos">
                
                <input type="text" id="materia" name="materia" placeholder="Matéria" >
                <input type="text" id="apostilas" name="apostilas" placeholder="Apostilas" >
                <input type="text" id="questoes" name="questoes" placeholder="Questões" >
            </div> !}
        
            <div>
                <input type="submit" value="Atualizar">
            </div>
        </form>

        <h1>Deletar</h1>

        <form action="http://localhost:8080/materias/deletar" method="GET">
            <div class="infos">
                <input type="text" name="codigoA" placeholder="Código da Aula" required>
            </div>
            <div>
                <input type="submit" value="Deletar">
            </div> 
        </form>
    </div>
</body>
</html>