<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duvida Zero</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="images 2.png">
</head>
<body>
    <header class="black-header">
        <nav>
            <div class="logo">
                <a href="/home">Dúvida Zero</a>
            </div>
            <div class="page-links">
                <li><a href="/professores">Professores</a></li>
                <li><a href="/materias">Matérias</a></li>
                <li><a href="/alunos">Alunos</a></li>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="banner">
            <img src="images 2.png" alt="Banner">
        </div>
        <div class="busca">
        <h2>Professores</h2>
        </div>
    </div>

    <div class="formularios">
        <h1>Buscar</h1>
        <form action="http://localhost:8080/professores/buscar" method="GET">
            <div class="infos">
                <input type="text" name="cpf" placeholder="CPF">
            </div>
            <div>
                <input type="submit" value="Buscar">
            </div>
        </form>
        

        <h1>Adicionar</h1>
        <form action="http://localhost:8080/professores/adicionar" method="GET">
            <div class="infos">
                <input type="text" name="cpf" placeholder="CPF">
            
                <input type="text" name="nome" placeholder="NOME" required>
            
                <input type="text" name="telefone" placeholder="TELEFONE" required>
            
                <input type="email" name="email" placeholder="EMAIL" required>
            </div>
            <div class="infos">
                <input type="text" name="cidade" placeholder="CIDADE" required>
            
                <input type="text" name="bairro" placeholder="BAIRRO" required>
            
                <input type="text" name="rua" placeholder="RUA" required>
            
                <input type="number" name="numero" placeholder="NUMERO" required>
            
                <input type="text" name="apartamento" placeholder="APARTAMENTO">
            </div>
            <div>
                <input type="submit" value="Adicionar">
            </div>
        </form>


        <h1>Editar</h1>

        <form action="http://localhost:8080/professores/editar" method="GET">
            <div class="infos">
                <input type="text" name="cpf" placeholder="CPF">
            </div>
            <div class="infos">
                <input type="text" name="nome" placeholder="Novo Nome">
                <input type="text" name="telefone" placeholder="Novo Telefone">
            </div>
            <div>
                <input type="submit" value="Atualizar">
            </div>
        </form>


        <h1>Deletar</h1>
        <form action="http://localhost:8080/professores/deletar" method="GET">
            <div class="infos">
                <input type="text" name="cpf" placeholder="CPF">
            </div>
            <div>
                <input type="submit" value="Deletar">
            </div>
        </form>
    </div>
</body>
</html>