<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duvida Zero</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="images 2.png">

</head>
<body>
    <header class="black-header">
        <nav>
            <div class="logo">
                <a href="/home">Dúvida Zero</a>
            </div>
            <div class="page-links">
                <li><a href="/professores">Professores</a></li>
                <li><a href="/turmas">Turmas</a></li>
                <li><a href="/materias">Matérias</a></li>
                <li><a href="/alunos">Alunos</a></li>
            </div>
        </nav>
    </header>

</body>
</html>